In [1]:
from scipy.io import netcdf
import numpy
from davitpy.pydarn.radar import *
from davitpy.pydarn.plotting import *
from davitpy.utils import *
import netCDF4
import cdf
import pandas
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/usr/local/lib/python2.7/dist-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plot', 'pylab', 'figsize']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [2]:
inpFN = "/home/bharat/Documents/code/auroral-imager/data/processed/F18/20141216.txt"

In [3]:
ssusiDF = pandas.read_csv( inpFN, delim_whitespace=True,\
                                infer_datetime_format=True,\
                                parse_dates=["date"] )
ssusiDF.head()

,date,sat,orbitNum,mlat.1,mlat.2,mlat.3,mlat.4,mlat.5,mlat.6,mlat.7,...,dlbhl.33,dlbhl.34,dlbhl.35,dlbhl.36,dlbhl.37,dlbhl.38,dlbhl.39,dlbhl.40,dlbhl.41,dlbhl.42
0,2014-12-16 14:34:31.000644,F18,26614,42.79,42.93,42.99,43.01,43.02,43.02,43.01,...,-0.73,-0.96,-1.86,-2.54,-1.84,NaN,NaN,NaN,NaN,NaN
1,2014-12-16 14:34:35.000393,F18,26614,43.00,43.14,43.20,43.23,43.24,43.24,43.22,...,-1.16,-0.53,-4.44,-0.84,118.83,NaN,NaN,NaN,NaN,NaN
2,2014-12-16 14:34:39.000142,F18,26614,43.21,43.35,43.42,43.44,43.46,43.45,43.44,...,-0.62,-0.23,-2.72,127.57,-3.21,NaN,NaN,NaN,NaN,NaN
3,2014-12-16 14:34:42.000891,F18,26614,43.42,43.56,43.63,43.66,43.67,43.67,43.66,...,-2.84,-1.69,0.00,-2.74,131.13,NaN,NaN,NaN,NaN,NaN
4,2014-12-16 14:34:46.000640,F18,26614,43.63,43.78,43.85,43.87,43.89,43.88,43.87,...,-1.94,-3.66,-0.73,63.28,0.00,NaN,NaN,NaN,NaN,NaN

In [10]:
orbitMin = ssusiDF[ ["date", "orbitNum", "sat"] ].groupby("orbitNum").min()
orbitMax = ssusiDF[ ["date", "orbitNum", "sat"] ].groupby("orbitNum").max()
orbitDF = pandas.merge( orbitMin, orbitMax )

                            date  orbitNum
0     2014-12-16 14:34:31.000644     26614
1     2014-12-16 14:34:35.000393     26614
2     2014-12-16 14:34:39.000142     26614
3     2014-12-16 14:34:42.000891     26614
4     2014-12-16 14:34:46.000640     26614
1632  2014-12-16 09:28:46.000361     26611
1633  2014-12-16 09:28:50.000110     26611
1634  2014-12-16 09:28:53.000859     26611
1635  2014-12-16 09:28:57.000608     26611
1636  2014-12-16 09:29:01.000357     26611
3264  2014-12-16 04:22:34.000853     26608
3265  2014-12-16 04:22:38.000602     26608
3266  2014-12-16 04:22:42.000351     26608
3267  2014-12-16 04:22:46.000100     26608
3268  2014-12-16 04:22:49.000849     26608
4896  2014-12-16 12:52:36.000789     26613
4897  2014-12-16 12:52:40.000538     26613
4898  2014-12-16 12:52:44.000287     26613
4899  2014-12-16 12:52:48.000036     26613
4900  2014-12-16 12:52:51.000785     26613
6528  2014-12-16 17:58:23.000401     26616
6529  2014-12-16 17:58:27.000150     26616
6530  2014-12-16 17:58:30.000899     26616
6531  2014-12-16 17:58:34.000648     26616
6532  2014-12-16 17:58:38.000397     26616
8160  2014-12-16 23:21:09.000848     26619
8161  2014-12-16 23:21:13.000603     26619
8162  2014-12-16 23:21:17.000357     26619
8163  2014-12-16 23:21:21.000111     26619
8164  2014-12-16 23:21:24.000866     26619
8783  2014-12-16 11:10:41.000331     26612
8784  2014-12-16 11:10:45.000080     26612
8785  2014-12-16 11:10:48.000829     26612
8786  2014-12-16 11:10:52.000578     26612
8787  2014-12-16 11:10:56.000327     26612
10415 2014-12-16 01:46:01.000470     26605
10416 2014-12-16 01:46:05.000219     26605
10417 2014-12-16 01:46:08.000969     26605
10418 2014-12-16 01:46:12.000718     26605
10419 2014-12-16 01:46:16.000467     26605
11292 2014-12-16 19:40:20.000383     26617
11293 2014-12-16 19:40:24.000132     26617
11294 2014-12-16 19:40:27.000881     26617
11295 2014-12-16 19:40:31.000630     26617
11296 2014-12-16 19:40:35.000379     26617